.sales-agent-sidebar {
  h3 {
    // margin-top: 100px;
    font-size: 1.1rem;
    // font-weight: 600;
    color: #000000;
  }
  
  h6 {
    font-size: 0.9rem;
    color: #000000;
  }
  
  p {
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }
  
  .row {
    margin-bottom: 0.25rem;
  }
  
  a {
    color: #000;
    text-decoration: none;
    
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  
  svg {
    margin-right: 0.5rem;
  }
  
  hr {
    margin-top: 100px;
    border-color: #CF3339;
    border-top: 2px solid #CF3339;
    opacity: 1;
  }
}
