@use '../css/style' as *;
@use '../css/responsive' as *;


.main-body{
        margin: 0;
    font-family: "Satoshi";
    font-size: 16px;
    color: var(--text);
    background-color: var(--white);
}


