<div class="payment-schedule">
  <div class="detils-sidebar">
    <div class="row justify-content-between sidebar-row gx-0">
      <div class="col-auto">
        <div class="logo">
          <a href="#">
            <img src="assets/images/main-logo.svg" alt="" class="d-block" />
          </a>
        </div>
        <h3>Hey,</h3>
        <h2 style="font-size:30px; font-family:Inter, sans-serif">
          {{ customerData.name }}!
        </h2>
        <hr />
        <p class="mb-2">Your payment against Proforma Invoice <br /><b class="fw-semibold">No - {{ Quote_payment_number || customerData.invoiceNumber || 'Not available' }} is </b></p>
        <h2 class="price">AED {{ customerData.totalAmount | number:'1.2-2' }}</h2>
      </div>
      
      <div class="col-auto d-none d-md-block">
        <app-sales-agent-sidebar 
          [salesAgent]="salesAgent"
          title="Need Assistance?"
          subtitle="Contact your sales agent:">
        </app-sales-agent-sidebar>
      </div>
    </div>
  </div>
         
  <div class="details-content">
    <div class="container">
      <div class="payment-detail-list-box">
        <div class="payment-detail-head text-center">
          <h5>INDIVIDUAL PAYMENT</h5>
          <h3 class="m-0">Please enter a few basic details</h3>
        </div>
        <div class="payment-detail-list">
          <div class="wrp">
            <form [formGroup]="basicDetailsForm" (ngSubmit)="onSubmit()" class="mb-0">
              <div class="form-row-wrapper">
                <div class="form-row">
                  <div class="form-col-half">
                    <div class="form-field">
                      <label for="fname" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name" formControlName="fname" required>
                    </div>
                  </div>
                  <div class="form-col-half">
                    <div class="form-field">
                      <label for="lname" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="lname" formControlName="lname" name="lname" placeholder="Enter last name" required>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col-full">
                    <div class="form-field">
                      <label for="nationality" class="form-label">Nationality</label>
                      <select id="nationality" name="nationality" formControlName="nationality" class="form-select">
                        <option value="">Select Nationality</option>
                        <option *ngFor="let item of nationalities" [value]="item.country">
                          {{ item.country }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col-full">
                    <div class="form-field">
                      <label class="form-label">Gender</label>
                      <div class="gender_wrap">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" value="male" formControlName="gender" id="male" name="gender">
                          <label class="form-label" for="male">
                            Male
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" value="female" formControlName="gender" id="female" name="gender">
                          <label class="form-label" for="female">
                            Female
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" value="other" formControlName="gender" id="other" name="gender">
                          <label class="form-label" for="other">
                            Other
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col-full">
                    <div class="form-field">
                      <label for="datepicker" class="form-label">Date of Birth</label>
                      <input type="date" [max]="maxDate" (keydown)="preventManualInput($event)" formControlName="dob" (click)="openDatePicker($event)" class="form-control datepicker hasDatepicker" id="datepicker" name="dob" required>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col-full">
                    <div class="form-field">
                      <div class="form-check mb-0">
                        <input type="checkbox" class="form-check-input" formControlName="agreeTerms" id="keeplogged">
                        <label class="form-check-label" for="keeplogged">I, the undersigned hereby undertake full responsibility to advise Virtuzone UAE FZ LLC of any change in the above information and accept that any misrepresentation or inaccurate information is a violation of applicable laws to Virtuzone UAE FZ LLC and take full responsibility for any legal consequences.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn w-100">Verify</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
</div>

