@media (max-width:991px){
    section.login_section .image {
        border-radius: 14px;
        width: 100%;
    }
    section.login_section .form_wrp {
        width: 100%;
        margin: 0 auto;
        margin-left: 0;
        max-width: 100%;
    }
    .login_section .form_wrp h2 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    body {
        font-size: 14px;
    }
    .login_section .form_wrp p {
        color: #121212E5;
        margin-bottom: 20px;
    }
    section.login_section .image h1 {
        font-size: 30px;
        bottom: 20px;
    }
    section.login_section .logo img {
        max-width: 171px;
    }
    section.login_section .logo {
        margin: 40px;
    }
    html .form-control {
        height: 46px;
        padding: 12px 18px;
    }
    form .form-field {
        margin-bottom: 18px;
        position: relative;
    }
    section.login_section .form_wrp button {
        margin-top: 30px;
        font-size: 16px;
        border-radius: 10px;
        line-height: 46px;
    }
    section.login_section .form_wrp .link,
    .form-check .form-check-label {
        font-size: 14px;
    }
    form .form-field.password .icon {
        right: 4px;
        height: 46px;
        width: 46px;
    }
    section.login_section {
        background-size: 140px;
    }
    section.login_section .login_r_shape img {
        width: 120px;
    }
}

@media (max-width:767px) {
    section.login_section {
        background: none;
    }
    section.login_section .image {
        border-radius: 0;
        height: 463px;
        margin-top: -97px;
        z-index: -1;
    }
    section.login_section .wrapper {
        padding: 0;
    }
    section.login_section .wrapper .h-100 {
        height: auto !important;
    }
    section.login_section .form_wrp {
        padding: 0 20px;
    }
    section.login_section .logo {
        text-align: center;
        margin: 30px auto 37px;
    }
    .login_section .form_wrp h2 {
        font-size: 26px;
        margin-bottom: 6px;
        text-align: center;
    }
    .login_section .form_wrp p {
        margin-bottom: 26px;
        text-align: center;
        padding: 0 20px;
    }
    section.login_section .image:before {
        background: linear-gradient(180deg, rgba(23, 0, 3, 0) 51.4%, rgba(23, 0, 3, 0.62) 100%),
        linear-gradient(180deg, #F4F5ED 25.81%, rgba(244, 245, 237, 0) 50.81%);
    }
    form .form-field.password .icon {
        right: 7px;
    }
    section.login_section .form_wrp .link {
        margin-top: -6px;
        display: block;
    }
}