<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <h2 *ngIf="type ***REMOVED*** 'add'">{{ "Add Role" }}</h2>
            <h2 *ngIf="type ***REMOVED*** 'edit'">{{ "Edit Role" }}</h2>
            <h2 *ngIf="type ***REMOVED*** 'view'">{{ "View Role" }}</h2>
          </div>
          <div class="col-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="border-bottom mb-3">
      <div class="row">
        <div class="col">
          <div class="form-field">
            <label for="" class="form-label">{{ "Role Name" }}</label>
            <input
              type="text"
              class="form-control form-control-sm form-control-solid"
              id="role_name"
              placeholder="Enter Role Name"
              [(ngModel)]="roleDetails.role_name"
              [disabled]="isView"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-field">
            <label for="" class="form-label">{{ "Status" }}</label>

            <ng-select
              class=""
              placeholder="Select Status"
              [(ngModel)]="selectedStatus"
              [required]="true"
              [disabled]="isView"
            >
              <ng-option *ngFor="let status of status" [value]="status">{{
                status
              }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mb-3">
      <div class="col-auto">
        <div class="d-flex gap-3">
          <h2 class="m-0">{{ "Access settings" }}</h2>
          <div
            class="col-auto"
            (click)="checkedAllPermissions()"
            *ngIf="!isView"
          >
            <a class="btn btn-sm btn-light-primary"
              ><i class="fa-solid fa-plus"></i>{{ "Checked All" }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="field-icon">
          <input
            class="form-control form-control-solid"
            type="text"
            placeholder="search access"
          />
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="card shadow-none p-3 mx-3 h-100 col-12 col-lg-6 col-md-6 col-sm-6"
      >
        <ul class="chekbox-group-list">
          <li *ngFor="let childLvl1 of accessList">
            <div class="form-check">
              <label class="form-check-label mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="onCheckedPermissions($event, childLvl1, parent)"
                  [checked]="childLvl1.checked"
                  [disabled]="isView"
                />
                {{ childLvl1.name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-end" *ngIf="!isView">
    <a (click)="addRole()" class="btn btn-primary btn-radius">{{ "Save" }}</a>
  </div>
</div>
