@use '../css/style' as *;
@use '../css/responsive' as *;


.main-body{
        margin: 0;
    font-family: "Satoshi";
    font-size: 16px;
}

.admin_body.sidebar-hidden {
  padding-left: 0 !important;
}