<div class="payment-methods-container">
  <h2 class="title">Payment Methods</h2>


<div class="wrapper">
<div class="methods">
  <div class="methods-header">
    <div *ngFor="let method of paymentMethods" class="method-name">
      {{ method.name }}
    </div>
  </div>

  <div class="methods-body">
    <div *ngFor="let method of paymentMethods" class="toggle-wrapper">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="method.enabled" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
  </div>

  <div class="pagination">
    <button class="page-btn">1</button>
  </div>
  </div>
</div>
